<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Index</title>
</head>
<body>
    <h1>Index User</h1>
    {% if nome %}
        <h2>Seu nome é {{nome}}</h2>
    {% endif %}

    {% if telefone %}
        <h2>Seu telefone é {{telefone}}</h2>
    {% endif %}

    {% if email %}
        <h2>Seu email é {{email}}</h2>
    {% endif %}

    {% if id %}
        <h2>Seu id é {{id}}</h2>
    {% endif %}
</body>
</html>